*{
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: auto;
    grid-template-areas: 
        "header header header" 
        "nav main aside"
        "nav main aside"
        "footer footer footer" 
    ;
}

header {
    grid-area: header;
    background-color: blue;
    padding: 10px;
    display: block;
    
}

nav {
    grid-area: nav;
    background-color: yellow;
    float: right;
    display: block;
   
}

main {
    grid-area: main;
    font-family: 'WebFont', Arial, sans-serif; 
    background-color: darkblue;
    display: block;
    
}

aside{ 
    background-color: lightgreen;
    grid-area: aside;
    display: block;
   
}

footer {
    grid-area: footer;
    min-height: auto;
    background-color: green;
    display: block;
}