.csym019 {
    background-color: lightblue;
    float: left;
    display: block;
    width: 50%;
    border-radius: 20px;
}

.csym015 {
    background-color: yellow;
    float: left;
    display: block;
    width: 50%;
    border-radius: 20px;
}

p {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

h1 { 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


